*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

#ptag{
    color: blue;
    background-color: crimson;
}
.class1{
background-color: royalblue;
}
p{
            color: gold;
            font-size: 30px;
            text-align: center;
}
h1, h2,h3{
    color: blueviolet;
}

