.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;

}
.btnAction{
    display: flex;
    gap:10px;
    justify-content: space-between;

}
a{
    text-decoration: none;
    color:black;
    padding: 10px;
    border: 1px solid black;
}
button{
    margin:auto 45%;
}